<section class="content">

    <!-- Default box -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Liste demandes</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
            <i class="fas fa-minus"></i></button>
 
        </div>
      </div>
      <div class="card-body p-0">
        <table class="table table-striped projects">
            <thead>
                <tr>
                    <th style="width: 1%">
                        id
                    </th>
                    <th >
                        Nom
                    </th>
                    <th >

                        Cin
                    </th>
                    
                    <th >
                         Date deb
                    </th>

                    <th  >
                        Date fin
                    </th>
                    <th >
                        Localisation 
                    </th>

                    <th >
                        phone
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listDemandeLoc" >
                    <td>
                        #
                    </td>
                    <td>
                      
                  {{item.lastName}} {{item.firstName}}
                    </td>
                    <td>
                   {{item.cin}}
                    </td>
                        
                    <td>
                   {{item.dateDeb}}
                    </td>
                    <td>
                        
                  {{item.dateFin}}
                    </td>
                    <td>
                        {{item.localisation}}

                    </td>
                    <td>
                       {{item.phone}}

                    </td>
                    <td class="project-actions text-right">
                       <!--  <a class="btn btn-primary btn-sm" href="#">
                            <i class="fas fa-folder">
                                consulter
                            </i>
                           
                        </a>-->
                        <a class="badge badge-success" >
                            <i class="fas fa-pencil-alt" (click)="accepterDemande(item.id,item.lastName,item.firstName,item.dateDeb,item.dateFin,item.localisation)">
                                accepter
                            </i>
                        
                        </a> 
                        <a class="badge badge-danger"  >
                            <i class="fas fa-trash" (click)="refuserDemande(item.id)" >
                                refuser
                            </i>
                            
                        </a>
                    </td>
               
                </tr>
                
            </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->

  </section>
  <!-- /.content -->
<!-- /.content-wrapper -->
