<div class="card">
    <div class="card-header">
        <h3 class="card-title">Reclamations</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
          <i class="fas fa-minus"></i></button>

        </div>
    </div>
    <div class="card-body p-0">
        <table class="table table-striped projects">
            <thead>
                <tr>
                    <th style="width: 1%">
                        id
                    </th>
                    <th style="width: 30%">
                        type
                    </th>
                    <th style="width: 20%">
                        description
                    </th>

                    <th style="width:20%">
                        photo
                    </th>

                    <th style="width: 8%" class="text-center">
                        date
                    </th>

                    <th style="width: 8%" class="text-center">
                        Status
                    </th>
                    <th style="width: 8%" class="text-center">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listReclamation">
                    <td>
                        #
                    </td>
                    <td>
                        <a>
                          {{item.type}}
                      </a>

                    </td>
                    <td>
                        {{item.description}}
                    </td>

                    <td>
                        {{item.photo}}
                    </td>

                    <td>
                        {{item.date}}
                    </td>


                    <td class="project-state">
                        <span class="badge badge-success" *ngIf="item.status==1">reglée</span>
                        <span class="badge badge-danger" *ngIf="item.status==0">non reglée</span>


                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm">
                            <i class="fas fa-check" (click)="changeStatus(item.id)">
                               
                            </i>
                        </a>
                    </td>

                </tr>

            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->