<section class="content">

    <!-- Default box -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Liste de techniciens</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
            <i class="fas fa-minus"></i></button>
 
        </div>
      </div>
      <div class="card-body p-0">
        <table class="table table-striped projects">
            <thead>
                <tr>
                    <th style="width: 1%">
                        id
                    </th>
                    <th >
                        Nom
                    </th>
                    <th >
                        Prénom 
                    </th>

                    <th  >
                        Email
                    </th>
                    <th >
                        specilalité
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listTech">
                    <td>
                        #
                    </td>
                    <td>
                        {{item.firstName}}

                    </td>
                    <td>
                        {{item.lastName}}

                    </td>
                        
                    <td>
                        {{item.email}}

                    </td>
                    <td>
                        {{item.specialite}}

                    </td>
                    <td class="project-actions text-right">
                       <!--  <a class="btn btn-primary btn-sm" href="#">
                            <i class="fas fa-folder">
                                consulter
                            </i>
                           
                        </a>
                        <a class="btn btn-info btn-sm" href="#">
                            <i class="fas fa-pencil-alt">
                                modifier
                            </i>
                        
                        </a> -->
                        <a class="btn btn-danger btn-sm" (click)="deleteTech(item.id)">
                            <i class="fas fa-trash">
                                supprimer
                            </i>
                            
                        </a>
                    </td>
               
                </tr>
                
            </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->

  </section>
  <!-- /.content -->
<!-- /.content-wrapper -->
